<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->



    <meta name="description" content="">
    <meta name="author" content="">
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/pages/group.css">

    <title><%= title %></title>
</head>

<body>
<div class="margin30">
    <div class="search_tip" style="font-size: 1.077vw">修改考勤规则</div>
    <form class="addForm">
        <!--<div class="addInput">-->
            <!--<label class="addLabel i18n" data-title="strDealer">规则名称:</label>-->
            <!--<input id="ruleName" type="text" class="form-control i18n-input" value="<%=data.rulename%>" selectattr="strDealer_placeholder" placeholder="请输入规则名称">-->

        <!--</div>-->
        <!--<div class="addInput">-->
            <!--<label class="addLabel i18n" data-title="strComeFrome">最早签到时间:</label>-->
            <!--<input id="alcheckin" type="time" class="form-control i18n-input" value="<%=(data.alcheckin.slice(0,5))%>" selectattr="strComeFrome_placeholder"  placeholder="请选择上班时间">-->

        <!--</div><div class="addInput">-->
            <!--<label class="addLabel i18n" data-title="strComeFrome">最晚签到时间:</label>-->
            <!--<input id="checkin" type="time" class="form-control i18n-input" value="<%=(data.checkin.slice(0,5))%>" selectattr="strComeFrome_placeholder"  placeholder="请选择上班时间">-->

        <!--</div>-->
        <!--<div class="addInput">-->
            <!--<label class="addLabel i18n" data-title="strComeFrome">最早签退时间:</label>-->
            <!--<input id="checkout" type="time" class="form-control i18n-input" value="<%=(data.checkout.slice(0,5))%>" selectattr="strComeFrome_placeholder"  placeholder="请输入下班时间">-->

        <!--</div>-->
        <!--<div class="addInput">-->
            <!--<label class="addLabel i18n" data-title="strComeFrome">最晚签退时间:</label>-->
            <!--<input id="lacheckout" type="time" class="form-control i18n-input" value="<%=(data.lacheckout.slice(0,5))%>" selectattr="strComeFrome_placeholder"  placeholder="请输入下班时间">-->

        <!--</div>-->

        <div class="addInput">
            <label class="addLabel LabelMax" data-title="strDealer">规则名称:</label>
            <input id="ruleName" type="text" class="" value="<%=data.rulename%>" selectattr="strDealer_placeholder" placeholder="请输入规则名称">

        </div>
        <div class="addInput marginRight">
            <label class="addLabel LabelMax" data-title="strComeFrome">最早签到时间:</label>
            <input id="alcheckin" type="time" class="" value="<%=(data.alcheckin.slice(0,5))%>"  selectattr="strComeFrome_placeholder"  placeholder="请选择上班时间">

        </div><div class="addInput">
            <label class="addLabel LabelMax" data-title="strComeFrome">最晚签到时间:</label>
            <input id="checkin" type="time" class="" value="<%=(data.checkin.slice(0,5))%>" selectattr="strComeFrome_placeholder"  placeholder="请选择上班时间">

        </div>
        <div class="addInput marginRight">
            <label class="addLabel LabelMax" data-title="strComeFrome">最早签退时间:</label>
            <input id="checkout" type="time" class="" value="<%=(data.checkout.slice(0,5))%>" selectattr="strComeFrome_placeholder"  placeholder="请输入下班时间">

        </div>
        <div class="addInput">
            <label class="addLabel LabelMax" data-title="strComeFrome">最晚签退时间:</label>
            <input id="lacheckout" type="time" class="" value="<%=(data.lacheckout.slice(0,5))%>" selectattr="strComeFrome_placeholder"  placeholder="请输入下班时间">

        </div>

        <div class="">
            <div type="button" id="addbutton" style="margin-left: 6.589vw;" class=" addbutton  " data-title="addButton">修改</div>
        </div>
        <div id="ruleId" value="<%=data.ruleid%>"></div>

    </form>
</div>
</body>
<script src="/static/javascripts/lib/require.js" data-main="/static/javascripts/pages/admin/checkWork/change.js"></script>

</html>

